<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



<html>
<link rel="stylesheet" href="../content/projects.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
<ul class="row portfolio list-unstyled mb-0 boxed-portfolio">
            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups="[&quot;skill1&quot;]">
                <div class="card mb-0">
                    <div class="project m-0">
                        <figure class="portfolio-item">
                            <a href="single-project6.html" class="hovereffect">
                                <img class="img-responsive" src="https://via.placeholder.com/350x180/FFB6C1/000000" alt="">
                                <div class="overlay">
                                </div><!-- / overlay -->
                            </a><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </div><!-- / project -->
                    <div class="card-body">
                        <a href="single-project6.html" class="card-title title-link fs-16 fw-bold">FOIL LOGO</a>
                        <p class="card-text mt-5 mb-0 fs-14"><b>Skills:</b> Design, Branding</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / project -->

            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups="[&quot;skill1&quot;]">
                <div class="card mb-0">
                    <div class="project m-0">
                        <figure class="portfolio-item">
                            <a href="single-project6.html" class="hovereffect">
                                <img class="img-responsive" src="https://via.placeholder.com/350x180/87CEFA/000000" alt="">
                                <div class="overlay">
                                </div><!-- / overlay -->
                            </a><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </div><!-- / project -->
                    <div class="card-body">
                        <a href="single-project6.html" class="card-title title-link fs-16 fw-bold">MOUNTAINS</a>
                        <p class="card-text mt-5 mb-0 fs-14"><b>Skills:</b> Design, Illustration</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / project -->

            <!-- project -->
            <li class="col-md-6 col-lg-4 project" data-groups="[&quot;skill1&quot;]">
                <div class="card mb-0">
                    <div class="project m-0">
                        <figure class="portfolio-item">
                            <a href="single-project6.html" class="hovereffect">
                                <img class="img-responsive" src="https://via.placeholder.com/350x180/B0C4DE/000000" alt="">
                                <div class="overlay">
                                </div><!-- / overlay -->
                            </a><!-- / hovereffect -->
                        </figure><!-- / portfolio-item -->
                    </div><!-- / project -->
                    <div class="card-body">
                        <a href="single-project6.html" class="card-title title-link fs-16 fw-bold">CAMERON</a>
                        <p class="card-text mt-5 mb-0 fs-14"><b>Skills:</b> Design</p>
                    </div><!-- / card-body -->
                </div><!-- / card -->
            </li><!-- / project -->
        </ul>
</div>
</html>



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>